@import "variables";

.pr-block {
  margin-bottom: 30px;
  .pr-block-content {
    position: relative;
    background: white;
    border-radius: $default-border-radius;
    padding: 16px 48px 32px 16px;
    height: 100%;
    &.add {
      padding: 0;
      text-align: center;
      padding: 24px 0;
      a{
          color:transparentize($black, 0.6);
          &:hover{
            color:$parking-blue;
          }
      }
      i {
        font-size: 36px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: $black;
      min-height: 100% !important;
      transition: $default-transition;
      &:hover{
          color: fade-out($black, 0.6);
      }
    }
    small {
      display: block;
      color: fade-out($black, 0.6);
      font-size: 12px;
      line-height: 12px;
      margin: 0;
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -.1px;
      line-height: 24px;
    }
    .period{
      font-weight: 700;
    }
    .pr-user-name{
      font-weight:500;
      line-height: 16px;
    }
    .pr-user-license-plates{
      color:fade-out($black, 0.5);
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
    }
    .pr-profile {
      display: block;
      width: 56px;
      height: 56px;
      background: #ccc;
      border-radius: 50%;
      float: right;
      overflow: hidden;
      img {
        width: 56px;
        height: auto;
      }
    }
    .campaign-period-arrow, .current-period-arrow{
      display: block;
      width:42px;
      height:42px;
      line-height: 42px;
      cursor: pointer;
      &.inactive{
        color: fade-out($black, 0.85);
      }
    }
  }
}
.history-item{
  display:none;
}
