@import "variables";

// BADGE
.badge {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  padding: 4px 6px;
  &.badge-primary {
    background: $parking-blue;
  }
}
//MODAL
.modal-content {
  border-radius: $default-border-radius;
  .modal-header,
  .modal-body {
    padding: 24px !important;
  }
  .modal-title {
    font-size: 22px !important;
    font-weight: 400 !important;
    color: black;
  }
  .close {
    font-size: 24px;
  }
}
//BUTTON
.btn {
  min-width: 100px;
  font-size: 14px;
  line-height: 14px;
  padding: 9px 20px;
}
.btn-primary,
.btn-secondary,
.btn-warning,
.btn-success,
.btn-danger {
  background-color: white;
  color: $black;
  border: 2px solid fade-out($black, 0.4);
}
.btn-primary {
  &:hover, &:focus {
    background-color: $primary;
    border-color: $primary;
  }
  &:disabled{
      background-color: fade-out($black, 0.6) !important;
      border-color:fade-out($black, 0.98);
  }
}
.btn-secondary {
    &:hover, &:focus {
      background-color: $secondary;
      border-color: $secondary;
    }
  }
  .btn-warning {
    &:hover, &:focus {
      background-color: $warning;
      border-color: $warning;
    }
  }
  .btn-success {
    &:hover, &:focus {
      background-color: $success;
      border-color: $success;
    }
  }
  .btn-danger {
    &:hover, &:focus {
      background-color: $danger;
      border-color: $danger;
    }
  }
