@import "variables";

// BADGE
.badge {
  font-size: 12px;
  font-weight: 400;
  padding: 3px 6px 4px 6px;
  &.badge-primary {
    background: $primary;
  }
}
//MODAL
.modal-content {
  background: transparent;
  border: none;
  border-radius: $default-border-radius;
  .modal-header {
    padding: 24px;
    background-color: $secondary;
    .modal-title,
    .close,
    p {
      color: white;
    }
  }
  .modal-body {
    padding: 24px;
    background-color: white;
    .subtitle {
      display: block;
      color: $black;
    }
  }
  .modal-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: black;
  }
  .close {
    font-size: 24px;
  }
}
//BUTTON
.btn {
  font-size: 14px;
  line-height: 14px;
  padding: 9px 20px;
}
.btn-primary,
.btn-secondary,
.btn-warning,
.btn-success,
.btn-danger {
  background-color: white;
  color: $black;
  border: 2px solid fade-out($black, 0.4);
}
.btn-primary {
  &:hover,
  &:focus {
    background-color: $primary;
    border-color: $primary;
  }
  &:disabled {
    background-color: fade-out($black, 0.6) !important;
    border-color: fade-out($black, 0.98);
  }
}
.btn-secondary {
  &:hover,
  &:focus {
    background-color: $secondary;
    border-color: $secondary;
  }
}
.btn-warning {
  &:hover,
  &:focus {
    background-color: $warning;
    border-color: $warning;
  }
}
.btn-success {
  &:hover,
  &:focus {
    background-color: $success;
    border-color: $success;
  }
}
.btn-danger {
  &:hover,
  &:focus {
    background-color: $danger;
    border-color: $danger;
  }
}
