* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-size: 14px;
  background: #ebf0f5;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.pr-block-menu {
  margin: 12px 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 9px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.pr-block-menu:hover {
  background: rgba(39, 39, 36, 0.08);
}

.pr-block-menu .pointer {
  position: absolute;
  top: -7px;
  right: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  border-top: 1px solid rgba(39, 39, 36, 0.1);
  border-right: 1px solid rgba(39, 39, 36, 0.1);
  z-index: 1;
  background: white;
}

.pr-block-menu .menu-items {
  display: none;
  position: absolute;
  top: 40px;
  right: -16px;
  width: 240px;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(39, 39, 36, 0.1);
  padding: 12px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(39, 39, 36, 0.1);
          box-shadow: 0 2px 4px 0 rgba(39, 39, 36, 0.1);
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 1000;
}

.pr-block-menu .menu-items ul {
  margin: 0;
  padding: 0;
}

.pr-block-menu .menu-items ul li {
  padding: 0;
  list-style: none;
}

.pr-block-menu .menu-items ul li a {
  display: block;
  border-radius: 2px;
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: #272724;
  padding: 10px 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.pr-block-menu .menu-items ul li a:hover {
  background: #0000b4;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.pr-default-table {
  width: 100%;
  min-width: 320px;
}

.pr-default-table thead tr {
  border-bottom: none;
}

.pr-default-table tr {
  width: 100%;
}

.pr-default-table tr:hover {
  background: rgba(39, 39, 36, 0.05);
}

.pr-default-table tr th,
.pr-default-table tr td {
  padding: 8px 10px;
  border-bottom: 1px solid rgba(39, 39, 36, 0.25);
}

.pr-default-table tr th:last-of-type,
.pr-default-table tr td:last-of-type {
  text-align: right;
}

.pr-default-table tr th {
  color: rgba(39, 39, 36, 0.4);
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 991.98px) {
  .pr-default-table {
    font-size: 12px;
  }
}

#go-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 24px;
  z-index: 10;
  background: #272724;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  opacity: 0.4;
  cursor: pointer;
}

#go-top:hover {
  opacity: 1;
}

a.parking-type {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(39, 39, 36, 0.3);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0px 12px 12px 12px;
  border-bottom: 2px solid rgba(39, 39, 36, 0.1);
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  text-align: center;
  min-width: 100px;
  z-index: 100;
}

a.parking-type.active {
  color: #272724;
  border-bottom: 2px solid #272724;
}

.input-icon {
  position: absolute;
  top: 11px;
  right: 11px;
  color: rgba(39, 39, 36, 0.5);
}

.error-msg {
  visibility: hidden;
  display: inline-block;
  background: #d8483e;
  color: white;
  padding: 2px 4px;
  width: auto;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
  border-radius: 2px;
}

.table-scroll {
  overflow: auto;
}

.results-message {
  display: none;
}

a#load-more {
  display: block;
  color: rgba(39, 39, 36, 0.35);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

a#load-more:hover {
  color: rgba(39, 39, 36, 0.7);
}
/*# sourceMappingURL=global.css.map */