@import "variables";

label {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: fade-out($black, 0.4);
}
input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 36px;
  border: 1px solid fade-out($black, 0.8);
  height: 36px;
  padding: 0 8px;
  border-radius: $default-border-radius;
  &:focus {
    border: 1px solid $black;
  }
  &:disabled {
    background: fade-out($black, 0.9);
  }
}

//FLIPSWITCH
.flipswitch {
  position: relative;
  width: 56px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  .flipswitch-checkbox {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
  }
  .flipswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s linear;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 24px;
      padding: 0;
      line-height: 24px;
      font-size: 12px;
      color: white;
      font-weight: 500;
    }
    &:before {
      content: "ON";
      padding-left: 10px;
      background-color:$success;
      color: #ffffff;
    }
    &:after {
      content: "OFF";
      padding-right: 8px;
      background-color: lighten($secondary, 50%);
      color: white;
      text-align: right;
    }
  }
  .flipswitch-switch {
    display: block;
    width: 20px;
    margin: 2px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    border: 0px solid #999999;
    border-radius: 20px;
    transition: all 0.2s linear;
  }
  .flipswitch-checkbox:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-checkbox:checked + .flipswitch-label .flipswitch-switch {
    right: 0px;
  }
}

