@import "variables";

.spinner-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: fade-out($black, 0.1);
  transition: $default-transition;
  z-index: 2070 !important;
  .spinner {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 1071;
    &:after {
      content: "";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 20px;
      box-sizing: border-box;
      border: 20px solid white;
      border-color: #fff transparent #fff transparent;
      animation: spinning 1.2s infinite;
    }
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
