@import 'variables';

.form-title{
    font-size: 16px;
}
.parking-spot{
    padding: 12px 0;
    border-bottom: 1px solid fade-out($black, 0.75);
}
.parking-sceheme-img{
    border:1px solid fade-out($black, .8);
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}
.user-img{
    width:64px;
    height:64px;
    overflow: hidden;
    border-radius: 50%;
    img{
        width:64px;
        height:auto;

    }
}
.welcome-msg{
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    color:white;
    width:100%
}